body {
    display: flex;
    justify-content: center;
}

.grandparent {
    border: 5px solid black;
    background-color: red;
    height: 400px;
    width: 900px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.parent {
    border: 5px solid black;
    background-color: greenyellow;
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.child {
    border: 5px solid black;
    background-color: lightskyblue;
    height: 100px;
    width: 100px;
}